<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The core Application element defining native app behavior -->
    <application
        android:label="klyro"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- The MainActivity configuration instructing Android to launch the Flutter engine natively -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply visible to the user
                 while the Flutter UI initializes natively in memory. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <!-- Defines this specific MainActivity as the exact entry point when app icons are clicked -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Denotes that the framework is currently running on Flutter's version 2 Android architecture -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Explicitly gives the app intent permissions to process text selections via the system (for copy/pasting) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
